<div class="left-container">
  <div class="left-container-nav-bar">
    <div class="search-icon"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </div>
    <div class="search-input">
      <input type="text" placeholder="Search for places"/>
    </div>
    <div class="location-icon"><fa-icon [icon]="faLocation"></fa-icon>
    </div>
  </div>
  <div class="left-container-data-box">
    <div class="left-container-temperature-data">
      <div class="left-container-temperature-img">
        <img class="weather-image" src="https://cdn-icons-png.flaticon.com/512/3093/3093390.png" alt="temperatureimg"/>
      </div>
      <div class="left-container-temperature-value">12<sup>°C</sup></div>
      <div class="left-container-date-time">Monday,<span> 16:00</span></div>
    </div>
    <div class="dividing-line"></div>
    <div class="left-container-other-details">
      <div class="left-container-temperature-summary">
        <div class="left-container-temperature-summary-phrase-img"><fa-icon [icon]="faCloud" style="color: #6495ED"></fa-icon></div>
        <div class="left-container-temperature-summary-value">Mostly Cloudy</div>
      </div>
    <div class="left-container-rain-stats">
      <div class="left-container-rain-stats-img"><fa-icon [icon]="faCloudRain" style="color: #6495ED"></fa-icon></div>
      <div class="left-container-rain-stats-value">Rain-30%</div>
    </div>
    <div class="left-container-location-details"></div>
    <div class="left-container-location-img"><img src="https://previews.123rf.com/images/lildan1337/lildan13372302/lildan1337230202187/198048881-new-york-city-skyline-digital-art-style-illustration-painting-cartoon-style-of-new-york-city.jpg" alt="locationimg" /></div>
    <div class="left-container-location-Name">Pune, India</div>
  </div>
</div>
